body{
    background-color: #343434;
    color: #ff0090;
}
a{
    color: aliceblue;
}
a:visited{
    color: #d04fdc;
}
a:hover, a:active{
    color: #eee;
}

table tr td{ 
    border: 1px solid orange;
}
  
